.location-form {
  border: 2rem;
  border-color: black;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-left: 1rem;
}

#last-searched,
#search-p {
  padding-left: 1rem;
  display: inline-block;
}

.location-name {
  display: inline-block;
}

.day-one-card,
.day-two-card,
.day-three-card,
.day-four-card,
.day-five-card {
  display: inline-block;
  padding: 2rem;
  margin-left: 1rem;
  background-color: lightskyblue;
  color: white;
}

#forecast-five {
  padding-left: 1rem;
  margin-top: 2rem;
}
